<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Counter</title>
    <link href='http://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2014 by <a href="http://www.thinkjson.com/">Mark Cahill</a>.
      {% endblock %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>